#bio p{
	
	font-size: 18px;
}

#bio ul{
	list-style: none;
}

#bio ul li{
	
	font-size: 18px;
}

h1{
	
	font-family: 'Poiret One', cursive;
}

h2{
	font-family: 'Abel', sans-serif;
	font-size: 24px;
}

p{
	
	text-indent: 12px;
	font-size: 18px;
}
