#bio p{
	
	font-size: 18px;
}

#bio ul{
	list-style: none;
}

#bio ul li{
	
	font-size: 18px;
}

h1{
	
	font-family: 'Poiret One', cursive;
}

h2{
	font-family: 'Abel', sans-serif;
	font-size: 24px;
}

p{
	
	text-indent: 12px;
	font-size: 18px;
}

#bio li{
	color: #404040;
}

.header{
	margin: 5% 0% 2% 0%;
}

#profilePic{

	border-radius: 50%;
	margin: 5% 0% 10% 0%;
}

p a{
	text-indent: 0;
	text-align: center;
}

#progLang p {
	margin: 0% 0% 15% 0%;
}

#progLang{
	padding: 5% 0% 5% 0%;
}

.langIcon{
	width: 80px;
	height: 80px;
}

.langUsed{
	text-align: center;
}

.tinyIcon{

	width: 50px;
	height: 50px;
}
