<header>
    <nav>
        <div class="nav-bar">
            <a href="#" class="brand"><i class="fas fa-bars"></i></a>
            <a class="brand_name" href="#"><h1>Johnson Lu</h1></a>

            <ul class="social">
                <li>
                    <a href="https://www.linkedin.com/in/johlu1/" alt="LinkedIn">
                        <i class="fab fa-linkedin"></i><span class="hidden">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JohnsonLu3" alt="GitHub">
                        <i class="fab fa-github-square"></i><span class="hidden">Github</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/yungbokchoy_arts/?hl=en" alt="instagram">
                        <i class="fab fa-instagram"></i><span class="hidden">instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>