//tablet XL
@media only screen and (max-width: 1024px) {
     .subMenu{  
        padding: 0;     
        width: 100%;
        background-color: #12bbad;
        top: inherit;
        bottom: 0;

        .active{
            height: 0;
            display: none;
        }


        .flex-column{
            flex-direction: row !important;
        }

        ul li{
            display: inline;
            margin: auto;

        }   

        a{
            color: white;
            font-size: 1rem;
        }

        .HomeActive{
            display: none;
        }  
     }


    #Skills{
        .col-md-4{
            width: 20vw;
        }

        h5{
            text-align: center;
        }
    }

    #Projects h3{
        font-size: 1em;
    }
    
    .projectBio{
       font-size: .8em;
    }

}

// tablet
@media only screen and (max-width: 780px) {

    #myNav{
        padding: 5%;
    }

    .BioCover{ 
        img{
            width: 50%;
            display: block;
            margin: auto;
        }
        h1{
            padding-top: 10vw;
            font-size: 12vw;
            height: 100%;
        }
    }

    #Skills{
        .col-md-4{
            width: 20vw;
        }

        h5{
            text-align: center;
        }
    }

    .btn{
        margin-bottom: 2vw;
    }

    .projectBio{
        height: 5vh;
    }

    #Projects {
        h3{
            font-size: 1.4rem;
            display: block;
        }

        img{
            width: 100%;
            height: 100%;
        }
        .col-md-6{
            width: 50%;
        }
    
    }

    .subHeader{
        float: left;
        left: 0;
        padding: 2vw;
        background-color: #12bbad;
        color: white;
        -webkit-box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
        -moz-box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
        box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
    }
    .pageTitle {
        margin-top: 10vh;
        font-size: 12vw;
    }
}

//nav hambuger
@media only screen and (max-width: 767px) {
    #myNav{
        height: auto;

        a{
            font-size: 3vh;
        }
    }

    .projectBio{
        height: auto;
    }

}

// mobile
@media only screen and (max-width: 420px) {
    .py-5 {
        padding-top: 5vw !important; 
    }
    .navbar-brand{
        font-size: 3vh;
    }

    .BioCover h1{
        padding-top: 20vw;
        font-size: 12vw;
        height: 100%;
    }

    .BioCover p{
        font-size: 5vw;
    }

    #Skills{
        h5{
            text-align: center;
            padding: 0;
        }

        .skillIco{
            text-align: center;
        }

        .col-md-4{
            width: 30vw;
        }
    }
    .btn{
        margin-bottom: 2vw;
    }

    .col-md-6{
        position: relative;
        width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px; 
    }


    .projectBio{
        height: auto;
    }

    .langBar{
        font-size: 2.5vw;
    }

    .pageTitle {
        margin-top: 10vh;
        font-size: 12vw;
    }

    .pageSub{
        font-size: 6vw;
    }

    .webpageName{
        font-size: 5vw;
    }

}