//tablet XL
@media only screen and (max-width: 1024px) {
     .subMenu{  
        padding: 0;
        width: 100%;
        background-color: #12bbad;
        top: 4rem;


        .flex-column{
            flex-direction: row !important;
        }

        ul li{
            display: inline;

        }   

        a{
            padding-left: 2rem;
            color: white;
            font-size: 1.24rem;
        }     
  }
}

// tablet
@media only screen and (max-width: 780px) {

    .subMenu{
        top: 4.3rem;
    }

    #myNav{
        padding: 5%;
    }

    .BioCover img{
        width: 50%;
        display: block;
        margin: auto;
    }

    #Skills h5{
        padding-left: 2rem;
    }

    .projectBio{
        height: 12rem;
    }

    #Projects {
        h3{
            font-size: 1.4rem;
            display: block;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
}

// mobile
@media only screen and (max-width: 420px) {

    .py-5 {
        padding-top: 2rem !important; 
    }
    .BioCover h1{
        padding-top: 2.5rem;
        font-size: 3rem;
    }

    .BioCover p{
        font-size: 1.2em;
    }

    #Skills{
        h5{
            display: none;
        }
    }

    .btn{
        margin-bottom: 1rem;
    }

    .col-md-6{
        position: relative;
        width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px; 
    }

    .subMenu{  
        a{
            padding-left: 1rem;
            font-size: .9rem;
        }
    }

    .pageTitle {
        margin-top: 4rem;
        font-size: 2.5rem;
    }

    .pageSub{
        font-size: 1.5rem;
    }

    .webpageName{
        font-size: 1.2rem;
    }

    .subHeader{
        padding: 1rem;
        background-color: #12bbad;
        color: white;
        -webkit-box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
        -moz-box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
        box-shadow: -11px 14px 26px -10px rgba(0,0,0,0.29);
    }
}