<div class="bio">
  <div class="row">
    <div class="col s4">
      <div class="profile">
          <img class="shadow" src="../../assets/images/me.png" alt="Johnson Lu">
      </div>
    </div>
    <div class="col s8">
      <div class="card">
        <h2>Johnson Lu</h2>
        <h3>Front/Back End Web Developer</h3>
        <p>
          I graduated from Stony Brook University with a Bachleors of Science. I currently work 
          as a Front End Web/App developer for Midtown Comics.
        </p>
        <p>
          Skilled in both Front end technologies such as Angular and React with the help of Javascript and
          Jquery. I also have experience in Backend technologies such as Java Spring and Python's Django.
        </p>
        <p>
          In my free time, I enjoy messing around with Arduino and creating fun macanincal devices
          and learning new skills 
        </p>
      </div>
    </div>
  </div>
</div>
  