.filter-chip{
    margin: 5px;
    border-radius: 20px;
    width: fit-content;
    color: white;

    p{
        padding: 2px 10px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "roboto";
        margin: 0;
    }
}

.Java { background-color :  #e1131d;}
.Python { background-color :  #ff717b;}
.MySQL { background-color :  #ecb05b;}
.React { background-color :  #acbf00;}
.Js { background-color :  #00a6a0;}
.CPP { background-color :  #7db208;}
.CSHARP { background-color :  #3a5a01;}
.jQuery { background-color :  #810c13;}
.AWS { background-color :  #fa556b;}
.Angular { background-color :  #d8aeae;}
.Bootstrap { background-color :  #764e80;}
.Django { background-color :  #cd96b5;}
.Webpack { background-color :  #ad797d;}
.Gradle { background-color :  #033d00;}
.Css3 { background-color :  #8e3a89;}
.HTML5 { background-color :  #00040e;}