$background: #f3f3f3;

$white: #ffffff;
$black: #000000;
$grey: #bcbcbc;
$faint-grey: #eaeaea;
$off-black: #3d3d3d;

$primary: #55acee;
$secondary: #1ab7ae;
$warning: #b31217;

$blue: #40a4c4;
$darkBlue: #205566;
$green: #00ab6b;
$red: #dc4e41;