<div id="sidenav" class="">
    <h1>Menu</h1>
    <a id="dismissNav" alt="dismiss Side Nav"><i class="fas fa-times"></i></a> 
    <ul>
        <li><a href="#" alt="Skills">Skills</a></li>
        <li><a href="#" alt="Projects">Projects</a></li>
        <li><a href="#" alt="Webpages">Webpages</a></li>
    </ul>

    <h2>Links</h2>
    <ul>
        <li><a href="#" alt="LinkedIn">LinkedIn</a></li>
        <li><a href="#" alt="Github">Github</a></li>
        <li><a href="#" alt="Instagram">Instagram</a></li>
        <li><a href="#" alt="JohnsonLu404@gmail.com">JohnsonLu404@gmail.com</a></li>
    </ul>
</div>